@charset "utf-8";
/*全局样式*/
*{
    margin: 0;
    padding: 0;
}
em{font-style: normal;}
a{text-decoration: none;}
img{border:none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size: 12px;font-family: "微软雅黑";}
/*动画样式定义*/
@-webkit-keyframes rock {
    0%{ transform: rotate(0deg)}
    10%{ transform: rotate(3deg)}
    20%{ transform: rotate(-3deg)}
    30%{ transform: rotate(2deg)}
    40%{ transform: rotate(-2deg)}
    50%{ transform: rotate(1deg)}
    60%{ transform: rotate(-1deg)}
    70%{ transform: rotate(0deg)}
    100%{ transform: rotate(0deg)}
}
/*box样式*/
.main{
    background: url("img/bg.jpg") no-repeat;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
.c-zongzi-box{
    position: absolute;
    width: 312px;
    height: 305px;
    left: 700px;
    top: 184px;
}
.c-zongzi-box-rock{
    -webkit-animation: rock 2s infinite;
}
/*zongzi*/
.c-zongzi{
    width: 312px;
    height: 305px;
    background: url("img/zz.png") no-repeat;
    transition: all 1s;
}
.c-zongzi-out{
    opacity: 1;
    transform: scale(.5);
}
/*绳子*/
.c-shengzi-1{
    position: absolute;
    width: 218px;
    height: 180px;
    background: url("img/line_1.png") no-repeat;
    left: 10px;
    top: 120px;
}
.c-shengzi-2{
    position: absolute;
    width: 219px;
    height: 159px;
    background: url("img/line_2.png") no-repeat;
    left: 10px;
    top: 158px;
}
.c-shengzi-3{
    position: absolute;
    width: 264px;
    height: 117px;
    background: url("img/line_3.png") no-repeat;
    left: 10px;
    top: 220px;
}
.c-shengzi-4{
    position: absolute;
    width: 288px;
    height: 56px;
    background: url("img/line_4.png") no-repeat;
    left: 10px;
    top: 290px;
}

/*zongzirou*/
.c-zongzirou{
    width: 288px;
    height: 206px;
    background: url("img/zzr_1.png") no-repeat;
    background-size: 288px 206px;
    position: absolute;
    left: 50px;
    top: 34px;
    z-index: 110;
    opacity: 0;
    transform-origin: top center;
    transition: all 1s;
    transform: scale(.8);
}
.c-zongzirou-in{
    opacity: 1;
    transform: scale(1);
}
/*zuoye*/
.c-zuoye{
    width: 1144px;
    height: 266px;
    background: url("img/leaf_left.png") no-repeat;
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: 1;
    opacity: 0;
    transform-origin: left bottom;
    transition: all 1s;
}
.c-zuoye-in{
    opacity: 1;
    transform: rotate(-5deg);
}
.c-zuoye-out{
    opacity: 0;
    transform: rotate(-15deg);
}
/*youye*/
.c-youye{
    width: 318px;
    height: 338px;
    background: url("img/leaf_right.png") no-repeat;
    position: absolute;
    left: 80px;
    top: -60px;
    z-index: 111;
    opacity: 0;
    transform-origin: left bottom;
    transition: all 1s;
    transform: scale(.8);
}
.c-youye-in{
    opacity: 1;
    transform: rotate(5deg) scale(.8);
}
.c-youye-out{
    opacity: 0;
    transform: rotate(15deg) scale(.8);
}
/*diye*/
.c-diye{
    width: 618px;
    height: 468px;
    background: url("img/leaf_expand.png") no-repeat;
    position: absolute;
    left: -150px;
    top: -45px;
    z-index: 99;
    opacity: 0;
    transition: all 1s;
}
.c-diye-in{
    opacity: 1;
}
.c-diye-out{
    opacity: 0;
}
/*zi-1*/
.c-t-1{
    width: 180px;
    height: 100px;
    background: url("img/t_jixiang.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -50px;
    z-index: 200;
    transform-origin: center center;
    transform: scale(.8);
    opacity: 0;
    transition: all 1s;
}
.c-t-1-in{
    opacity: 1;
}
/*zi-2*/
.c-t-2{
    width: 180px;
    height: 100px;
    background: url("img/t_ruyi.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -50px;
    z-index: 200;
    transform-origin: center center;
    transform: scale(.8);
    opacity: 0;
    transition: all 1s;
}
.c-t-2-in{
    opacity: 1;
}
/*zhufuwenzi*/
.text{
    position: absolute;
    width: 400px;
    height: 370px;
    left: 180px;
    top: 140px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.text-in{

}
.text .captoin{
    width: 400px;
    height: 240px;
    background: url("img/caption.png") no-repeat;
    margin-left: 40px;
    opacity: 0;
    transition: all 1s ;
}
.text .to{
    width: 400px;
    margin-top: 10px;
    margin-left: 40px;
    opacity: 0;
    transition: all 1s .5s ;
}
.text .msg {
    width: 400px;
    margin-top: 10px;
    margin-left: 40px;
    opacity: 0;
    transition: all 1s 1s;
}
.text .from{
    width: 400px;
    margin-top: 10px;
    margin-left: 40px;
    text-align: right;
    opacity: 0;
    transition: all 1s 1.5s;
}
.text-in .captoin,
.text-in .to,
.text-in .msg,
.text-in .from{
    opacity: 1;
    margin-left: 0px;
}
/*粽子肉的视角（旋转）*/
.c-zongzirou-view-1{
    transition: all 0;
    background: url("img/zzr_1.png") no-repeat;
}
.c-zongzirou-view-2{
    transition: all 0;
    background: url("img/zzr_2.png") no-repeat;
}
.c-zongzirou-view-3{
    transition: all 0;
    background: url("img/zzr_3.png") no-repeat;
}
.c-zongzirou-view-4{
    transition: all 0;
    background: url("img/zzr_4.png") no-repeat;
}
.c-zongzirou-view-0{
    transition: all 0;
    background: url("img/zzr_1.png") no-repeat;
    transform: rotateY(180deg);
}
/*文字视角*/
.c-t-view-0{
    transform: scale(.8) rotateY(30deg) translate(-50px, 0) rotate(8deg);
}
.c-t-mirror-0{
    display: none;
 }

.c-t-view-2{
    transform: scale(.8) rotateY(30deg) translate(-50px, 0) rotate(8deg);
}
.c-t-mirror-2{
    transform: scale(.7) rotateY(70deg) translate(283px, -15) rotate(-8deg);
}
.c-t-view-3{
    transform: scale(.75) rotateY(49deg) translate(-94px, 0) rotate(15deg);
}
.c-t-mirror-3{
    transform: scale(.75) rotateY(49deg) translate(118px, 0) rotate(-15deg);
}
.c-t-view-4{
    transform: scale(.6) rotateY(50deg) translate(196px, 10px) rotate(24deg);
}
.c-t-mirror-4{
    transform: scale(.8) rotateY(30deg) translate(58px, 10px) rotate(-5deg);
}
.c-t-view-5{
    transform: scale(.6) rotateY(50deg) translate(-196px, 0) rotate(24deg);
}


